# Python
__pycache__/
*.py[cod]
*.so
.env
.venv/
venv/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Node
node_modules/
package-lock.json
yarn.lock

# Temp
*.tmp
.token.*
